body{
    display: flex;
    flex-direction: column;
}
.darkMode {
    background-color: #333333;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
.leer{
    color: black;
}
$maincolor: rgb(122, 23, 179);